.input__container {
    position: relative;
    margin: 0 20px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 0;
}

.input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: none;
}

.input:active, .input:focus {
    outline: none;
}

.input__placeholder {
    line-height: 1.15rem;
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 0;
    color: var(--colorGray);
    background-color: var(--colorWhite);
    z-index: -1;
}

.input__placeholder--active {
    animation: move 0.45s ease forwards;
}

.input__placeholder--desactive {
    animation: moveBack 0.45s ease forwards;
}

@keyframes move {
    from {transform: translate(0, 0);}
    to {transform: translate(10px,-110%);}
}

@keyframes moveBack {
    from {transform: translate(10px,-110%);}
    to {transform: translate(0, 0);}
}