.input__container {
    position: relative;
}

.input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--colorGray);
    border-radius: 10px;
    background: none;
    z-index: 1;
}

.input:active, .input:focus {
    outline: none;
}

.input__placeholder {
    line-height: 1.15rem;
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 99;
    color: var(--colorGray);
    background-color: var(--colorWhite);
}

.input__placeholder--active {
    animation: move 0.75s ease forwards;
}

.input__placeholder--desactive {
    animation: moveBack 0.75s ease forwards;
}

@keyframes move {
    from {transform: translate(0, 0); z-index: -1;}
    50% {transform: translate(10px,-110%);}
    75% {z-index: 0}
    to {transform: translate(10px,-110%); z-index: 0}
}

@keyframes moveBack {
    from {transform: translate(10px,-110%); z-index: 0;}
    50% {transform: translate(0, 0);}
    75% {z-index: -1}
    to {transform: translate(0, 0); z-index: -1}
}