.beerCard {
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: var(--colorLightPrimary);
    padding: 20px;
    border-radius: 5px;
}

.beerCard__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}