.search-result {
    list-style-type: none;
    background-color: var(--colorWhite);
    margin-top: 5px;
    border-radius: 5px;
    max-height: 350px;
    overflow-y: scroll;
}

.search-result__item {
    padding: 20px 0;
    padding-left: 20px;
    transition: background-color 0.2s linear;
}

.search-result__item:hover {
    cursor: pointer;
    background-color: var(--colorLightGray);
    transition: background-color 0.2s linear;
}