.link {
    text-decoration: none;
    color: var(--colorBlack);
    margin: 0 20px;
    transition: color 0.2s linear;
}

.link:hover {
    cursor: pointer;
    color: var(--colorPrimary);
    transition: color 0.2s linear;
}