* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Gemunu Libre', sans-serif;
  font-size: 1.15rem;
}

:root {
  --colorWhite: #FFFFFF;
  --colorBlack: #000000;
  --colorGray: hsl(0, 0%, 45%);
  --colorPrimary: #F4A23F;
  --colorSecondary: #FA6835;
}