.beerDetail {
    display: flex;
    justify-content: center;
}

.beerDetail__content {
    max-width: 1000px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.beerDetail__content > div {
    width: 50%;
}